
      .nav a {
  color: #5a5a5a;
  font-size: 21px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQDnUMG6GBJIqOLKdYq3eAQA5gxKCX8cJxvGNPF6J-XyMBBDfiuGw);
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 58px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more a{
  color: #00b0ff;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}


.reviews {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.reviews h2 {
    color: #393c3d;
    font-size: 24px;
}

.reviews p {
  color: #00000;
    font-size: 15px;
    margin-bottom:13px;
  }
  .books {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
    font-family: 'Shift', sans-serif;
}

.books h3{
  display: block;
  text-align: center;
  font-weight: bold;
  color:#e10707;
}

.books h2 {
    display: block;
  text-align: center;
  font-weight: bold;
  color: #0033cc;

}

.books p {
  color: #00000;
  display: block;

    font-size: 15px;
    margin-bottom:13px;
    
  }

  img.center{
    display: block;
    margin-left: auto;
    margin-right:auto;
  }
  .footer1 {
  background-color: #ffffff;
  padding: 20px;
  line-height: 50%;

}

.footer1 span {
font-weight: bold;
color: blue;
}

h1 span {
  font-size: 25px;
  font-style: italic;
}
.links span{
  font-style:italic;
  font-weight:bold;
  font-size:12px;
}

.links h4{
  display: block;
  text-align: center;
  color: black;
  padding-top: 40px;
}

.links a {
  color: #00b0ff;
}


.about h4{
  display: block;
  text-align: center;
  color: #ff5733;

}
.about h2{
  color: black;
  font-weight: normal;
}

.essays {

    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
    font-family: 'Shift', sans-serif;

}
.essays h4{
  padding-top: 25px;
  padding-bottom: 10px;
  display: block;
  font-weight: normal;
  color: black;
  

}

.essays p{
  color: 00000;
  font-size: 15px;
  margin-bottom: 13px;
}


.apictureisworthathousandwords {

    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
    font-family: 'Shift', sans-serif;

}
.apictureisworthathousandwords h4{
  padding-top: 25px;
  padding-bottom: 10px;
  display: block;
  font-weight: normal;
  color: black;
  

}

.apictureisworthathousandwords p{
  color: 00000;
  font-size: 15px;
  margin-bottom: 13px;
}

.wordswordswords {

    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
    font-family: 'Shift', sans-serif;

}
.wordswordswords h4{
  padding-top: 25px;
  padding-bottom: 10px;
  display: block;
  font-weight: normal;
  color: black;
  

}

.wordswordswords p{
  color: 00000;
  font-size: 15px;
  margin-bottom: 13px;
}

.whywrite {

    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
    font-family: 'Shift', sans-serif;

}
.whywrite h4{
  padding-top: 25px;
  padding-bottom: 10px;
  display: block;
  font-weight: normal;
  color: black;
  

}

.whywrite p{
  color: 00000;
  font-size: 15px;
  margin-bottom: 13px;
}


.archives h3{
  display: block;
  text-align: center;
  color: #00b0ff;

}

.contact {
  display: block;
  text-align: center;
  padding-top: 200px;
  color: #00b0ff;
}
.footer2 a{
  color: #00b0ff;
}



    